---
import NavBar from "@components/header/Header.astro";
---

<main
  id="mask"
  class="fixed -top-1 flex items-center justify-between w-full z-30 p-2"
>
  <section id="navWrapper" class="w-full transition-opacity md:opacity-100">
    <NavBar />
  </section>
</main>
<script>
  function initNav() {
    const navWrapper = document.getElementById("navWrapper");
    if (!navWrapper) return;

    let currentYPostion;
    let isDown;
    const dynamicNav = () => {
      navWrapper.classList.toggle("opacity-0", isDown);
      navWrapper.classList.toggle("opacity-100", !isDown);
    };

    const handleScroll = () => {
      currentYPostion = window.scrollY;
      isDown = currentYPostion > 30;
      dynamicNav();
    };

    window.addEventListener("scroll", handleScroll);

    // Initial check
    handleScroll();

    // Remove listener before next page swap to avoid duplication
    document.addEventListener(
      "astro:before-preparation",
      () => {
        window.removeEventListener("scroll", handleScroll);
      },
      { once: true },
    );
  }

  document.addEventListener("astro:page-load", initNav);
</script>
