---
export interface Props {
  backTo: string;
}
const { backTo } = Astro.props;
---

<main>
  <a
    href={`/${backTo}`}
    class:list={[
      "w-min flex items-center cursor-pointer hover:opacity-50 transition-opacity ease",
    ]}
  >
    <i class:list={[backTo ? "i-ph-arrow-up-left" : "i-ph-arrow-line-left"]}
    ></i>
    <p class="ml-1 font-serif font-medium w-16">
      {backTo || "Index"}
    </p>
  </a>
</main>
