<p id="blockTitle">Contact</p>
<a target="_blank" href="mailto:Earthb0y@outlook.com">
  Earthb0y@outlook.com <div class="i-ph-arrow-up-right"></div>
</a>
<a target="_blank" href="https://github.com/olcchi">
  Github <div class="i-ph-arrow-up-right"></div>
</a>
<a target="_blank" href="https://gallery.olcchi.me">
  Gallery <div class="i-ph-arrow-up-right"></div>
</a>

<style>
  a {
    @apply linkBase max-w-max flex items-center gap-1 border-none;
  }
</style>
