---
import { ClientRouter } from "astro:transitions";
import MaskHeader from "@components/header/headerMask.astro";
// import LetterGlitch from "@components/letterGlitch/glitch";
import GradientBg from "@components/gradient/gradientBg";
import Footer from "@components/footer.astro";
import BackTo from "@components/backTo.astro";
import Tab from "@components/tab.astro";
import "../styles/main.css";
interface Props {
  title?: string;
}
const { title } = Astro.props;
const showNavigation = ["posts", "projects"].includes(
  Astro.url.pathname.replace(/\//g, ""),
);
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="yi's personal website - user interface builder and freelance photographer"
    />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" />
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id={import.meta.env.UMAMI_WEBSITE_ID}></script>
    <link
      rel="alternate"
      type="application/rss+xml"
      title="yi - Blog Posts"
      href={`${Astro.site}rss.xml`}
    />
    <ClientRouter />
  </head>
  <body id="pageLayout" class="themeBase">
    <MaskHeader />
    <div class="h-full w-full fixed top-0 left-0 -z-10" transition:persist>
      {/* <LetterGlitch client:only="react" /> */}
      <GradientBg client:only="react" />
    </div>
    <main class="grid grid-cols-[1fr_min(65ch,90%)_1fr] overflow-y-auto">
      <article class="min-h-screen relative col-start-2 col-end-3 p-2">
        <div class="mt-20 mb-20 lg:mt-25 lg:mb-20 w-full">
          <div class:list={[{ hidden: !showNavigation }]}>
            <BackTo backTo="" />
            <Tab />
          </div>
          <slot />
        </div>
        <Footer />
      </article>
    </main>
  </body>
</html>
